#menu ul
{
margin:0;
padding:0;
line-height:30px;
}
#menu li
{
list-style-stype:none;
float:left;
position:relative;
background-color:#999;
}
#menu ul li a 
{
color:#000;
text-decoration:none;
width:150px;
height:30px;
display:block;
text-align:center;
border:1px solid #000;
}
#menu ul ul
{
position:absolute;
top:30px;
visibility:hidden;
}
#menu ul li:hover ul
{
visibility:visible;
}
#menu li:hover
{
background-color:#FFF;
}